/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/engines/Makefile.in
/engines/clearlooks/Makefile.in
/engines/crux/Makefile.in
/engines/glide/Makefile.in
/engines/hc/Makefile.in
/engines/industrial/Makefile.in
/engines/lua/Makefile.in
/engines/mist/Makefile.in
/engines/redmond/Makefile.in
/engines/support/Makefile.in
/engines/support/config.h
/engines/support/config.h.in
/engines/support/stamp-h1
/engines/thinice/Makefile.in
/gtk-doc.make
/gtk-engines-2.pc
/gtk-engines.spec
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gtk-engines.pot
/po/stamp-it
/schema/Makefile.in
/so_locations
/stamp-h1
/tags
/test/Makefile.in
/themes/Clearlooks/Makefile.in
/themes/Clearlooks/gtk-2.0/Makefile.in
/themes/Crux/Makefile.in
/themes/Crux/gtk-2.0/Makefile.in
/themes/Industrial/Makefile.in
/themes/Industrial/gtk-2.0/Makefile.in
/themes/Makefile.in
/themes/Mist/Makefile.in
/themes/Mist/gtk-2.0/Makefile.in
/themes/Redmond/Makefile.in
/themes/Redmond/gtk-2.0/Makefile.in
/themes/ThinIce/Makefile.in
/themes/ThinIce/gtk-2.0/Makefile.in
/xmldocs.make
