/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/clearlooks.xml
/clearlooks.xml.in
/crux-engine.xml
/crux-engine.xml.in
/glide.xml
/glide.xml.in
/hcengine.xml
/hcengine.xml.in
/industrial.xml
/industrial.xml.in
/mist.xml
/mist.xml.in
/redmond95.xml
/redmond95.xml.in
/so_locations
/tags
/thinice.xml
/thinice.xml.in
